#first-top-bar {
    margin-bottom: 0px;
}

#first-top-bar-left header h1 {
    margin: 0;
}

#first-top-bar-left header h1 a {
    margin: 0;
    padding: 0;
}

#breadcrumbs ul {
    margin-top: 10px;
}

#breadcrumbs ul li a{
    color : black;
}

#user_logged p{
    margin: 0;
}

#user_logged a {
    color: #999999;
    text-decoration: none;
    margin-top: 10px;
}
#user_logged #user-name {
    padding-top: 2%;
}

#user_logged #user-photo {
    float: left;
    width: 40px;
    margin-right: 10px;
}

.message {
    font-size: 16px;
    margin-bottom: 0px;
}